#table-container {
}

table {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 3px #aaa;
  -moz-box-shadow: 0 3px 3px #aaa;
  box-shadow: 0 3px 3px #aaa;
  width: 100%;
}

#data-row:hover {
  background: #eee;
}

#header th:hover {
  cursor: pointer;
    background: #eee;
}

th,
td {
  text-align: left;
  padding: 8px 12px;
}

td {
  border-top: 1px solid #ccc;
}

th {
  border-bottom: 1px double #ccc;
}
